<div class="container social">
    <div class="row" style="text-align:center">
        <div class="col-2">
        </div>      
        <div class="col-2">  
            {% image '@AppBundle/Resources/public/images/social/facebook.png' %}
                <a href=""><img src="{{ asset_url }}" alt="facebook" /></a>
            {% endimage %}
        </div>
        <div class="col-2">        
            {% image '@AppBundle/Resources/public/images/social/twitter.png' %}
                <a href=""><img src="{{ asset_url }}" alt="twitter" /></a>
            {% endimage %}
        </div>
        <div class="col-2">         
            {% image '@AppBundle/Resources/public/images/social/youtube.png' %}
                <a href=""><img src="{{ asset_url }}" alt="youtube" /></a>
            {% endimage %}
        </div>
        <div class="col-2">  
            {% image '@AppBundle/Resources/public/images/social/google.png' %}
                <a href=""><img src="{{ asset_url }}" alt="google" /></a>
            {% endimage %}
        </div>
        <div class="col-2">
        </div>  
    </div>    
</div> 